* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%; /* 10px */
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 56.25%; /* 9px */
  }
}

@media screen and (max-width: 960px) {
  html {
    font-size: 50%; /* 8px */
  }

}

body {
  font-size: 15px;
}

img {
  display: none;
}

/* canvas {
  display: block;
  margin: 0 auto;
} */